Flask==3.1.2
flask-cors==6.0.1
mysql-connector-python==9.5.0
python-dotenv==1.1.1
gunicorn==21.2.0
bcrypt==5.0.0
requests==2.32.5
cryptography==41.0.7
APScheduler==3.10.4
cloudinary==1.41.0
pandas==2.2.3
openpyxl==3.1.5